@font-face {
    font-family: "Press Start 2P";
    src: url("fonts/PressStart2P-Regular.ttf");
}


/* --- Global Styles --- */
.root {
    -fx-background-color: #333333;
    -fx-font-family: "Press Start 2P", "Monospaced";
    -fx-font-size: 14px;
}


.history-label {
    -fx-font-family: "Press Start 2P", "Monospaced";
    -fx-font-size: 10px;

}
/* --- Text Field --- */
.text-field {
    -fx-background-color: #CCCCCC;
    -fx-border-color: #33ff33;
    -fx-border-width: 2px;
    -fx-padding: 8px;
    -fx-text-fill: #000000;
    -fx-font-size: 20px;
    -fx-font-family: "Press Start 2P", "Monospaced";
}

/* --- Buttons --- */
.button {
    -fx-background-color: #999999;
    -fx-border-color: #8a2be2;
    -fx-border-width: 2px;
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
    -fx-font-family: "Press Start 2P", "Monospaced";
    -fx-cursor: hand;
}


.button:hover {
    -fx-background-color: #AAAAAA;
}


.button:pressed {
    -fx-background-color: #777777;
    -fx-border-color: #222222;
}

.button.clear-button {
    -fx-background-color: #FF6666;
    -fx-text-fill: #FFFFFF;
}


.button.equals-button {
    -fx-background-color: #66CC66;
    -fx-text-fill: #FFFFFF;
}

.button:disabled {
    -fx-opacity: 1.0;
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #5a5a5a;
}

